# Build / compiled files  
venv/  
*.sublime-project  
*.sublime-workspace  
  
# Node / JS  
node_modules/  
npm-debug.log  
yarn-error.log  
yarn-debug.log  
  
# Backup files  
*~  
*.swp  
*.swo  
*.bak  
  
# Java  
# *.class  
# *.jar  
# *.war  
# *.ear  
# target/ 
